<!DOCTYPE html>
<html>
    <head>
        <!-- views/partials/head.ejs -->
        <meta charset="UTF-8">
        <title>Development</title>


        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/style.css"/>
    </head>
    <body>
        <header>
            <nav id="nav-user" class="top-fixed top-nav" role="navigation">
                <div class="nav-container">
                    <div class="nav-menu-items">
                        <a class="nav-brand" href="/">
                            <div id="logo" class="round-edge"></div>
                        </a>
                        <div class="nav-menu-items-right">
                            <div><a data-toggle="modal" data-target="#myModal">Log In</a></div>
                            <div><a href="/signup">Sign Up</a></div>
                            <div><a href="/logout">Log Out</a></div>   
                            <div><a href="/about">About</a></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <h4> <%= error %><!-- ERROR TYPE HERE --></h4>
        <h2> <%= message %><!-- ERROR MESSAGE HERE --></h2>
        
        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    </body>
</html>